.classpath
.project
.settings
target
*~
*.class
*.jar
*.zip
*.orig
*.swp
.directory
.idea
*.iml
*.tar.gz
bin/
/mobile/gssmobile/nbproject/private/
/mobile/gssmobile/build/
CodenameOne_SRC.zip

/mobile/gssmobile/dist/
*.pdf
*.html
