DEBUG=true
DJANGO_LOG_LEVEL=DEBUG

# main shared volume
GSS_VOLUME=/home/hydrologis/TMP/GSS_TEST/
GSS_POSTGRESFOLDER=/home/hydrologis/TMP/GSS_TEST/data/
GSS_MEDIAFOLDER=/home/hydrologis/TMP/GSS_TEST/media/
GSS_DYNAMICMIGRATIONSFOLDER=/home/hydrologis/TMP/GSS_TEST/dynamicmigrations


# database connection parameters
GSS_POSTGRES_USER=testuser
GSS_POSTGRES_PASSWORD=testpwd
GSS_POSTGRES_DB=testgssdb
GSS_POSTGRES_PORT=5432

# deploy
GSS_ALLOWED_HOSTS=".localhost 0.0.0.0 127.0.0.1 192.168.50.219 [::1] django"
GSS_CORS_ALLOWED_ORIGINS="http://localhost:8000 http://localhost:8081 http://192.168.50.219"
GSS_CSRF_TRUSTED_ORIGINS="http://localhost:8000 http://localhost:8081 http://192.168.50.219"
GSS_SECRETKEY="django-verysecure-89)jfnethf$ngh2a3r4c@^u*#9u&_jiby^^0g@)=u7dk17tlg)sh"


# QGIS Server env variables
#QGIS_SERVER_LOG_FILE=/shared_volume/qgis_server/error.log
#QGIS_SERVER_LOG_LEVEL=2
#QGIS_PROJECT_FILE=/etc/qgisserver/qgis_server/projects/project.qgs
#QGIS_SERVER_PARALLEL_RENDERING=true
#QGIS_SERVER_MAX_THREADS=8
#QGIS_SERVER_IGNORE_BAD_LAYERS=true
#QGIS_SERVER_CACHE_DIRECTORY=/etc/qgisserver/qgis_server/cache/
#QGIS_SERVER_CACHE_SIZE=100"