# main shared volume
GSS_VOLUME=/home/hydrologis/TMP/GSS_DJANGO/

# database connection parameters
GSS_POSTGRES_USER=postgres
GSS_POSTGRES_PASSWORD=postgres
GSS_POSTGRES_DB=gsstest
GSS_POSTGRES_PORT=5432

# deploy
GSS_WEBAPP_PORT=80
GSS_HOST=192.168.50.146

# QGIS Server env variables
QGIS_SERVER_LOG_FILE=/shared_volume/qgis_server/error.log
QGIS_SERVER_LOG_LEVEL=2
QGIS_PROJECT_FILE=/etc/qgisserver/qgis_server/projects/project.qgs
QGIS_SERVER_PARALLEL_RENDERING=true
QGIS_SERVER_MAX_THREADS=8
QGIS_SERVER_IGNORE_BAD_LAYERS=true
QGIS_SERVER_CACHE_DIRECTORY=/etc/qgisserver/qgis_server/cache/
QGIS_SERVER_CACHE_SIZE=100"

