// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

// app layout begin
//$al-bar-height: 64px;
$al-bar-background-color: #5d9d76;
//$al-bar-font-color: valo-font-color($al-bar-background-color);
//$al-bar-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
//$al-bar-z-index: 10;
//
//$al-drawer-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
//$al-drawer-background-color: lighten($v-background-color, 5%);
$al-drawer-submenu-background-color: rgba(valo-font-color($al-bar-background-color), 0.05);
//$al-drawer-font-color: valo-font-color($al-drawer-background-color);
//$al-drawer-persistent-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
//$al-drawer-width: 256px;
//$al-drawer-small-width: 64px;
//
//$al-menu-button-badge-background-color: $v-focus-color;
//$al-menu-button-badge-font-color: valo-font-color($v-focus-color, 1.0);
//$al-menu-button-badge-border-radius: 5px;
//$al-menu-disable-active-style: false;
//$al-menu-submenu-max-height: 999px;
//
//// only used by material design
//$al-menu-button-active-background-color: rgba(valo-font-color($al-drawer-background-color), 0.1); 
//$al-menu-button-active-font-color: $v-focus-color; 
//
//// new variables
//$al-menu-button-horizontal-padding: round($v-unit-size/2.4) + round($v-border-radius/3) !default;
//$al-menu-button-height: 48px !default;
//$al-menu-button-spacing: round($v-unit-size/3) !default;
//$al-menu-section-padding: round($v-unit-size) !default;
// app layout end



@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .big-icon .v-icon{
    font-size: 200px;
    color: #5d9d76;
  }
}
