<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="eu.hydrologis.stage.entrypoint">
      <entrypoint
            class="com.hydrologis.gss.entrypoints.MapviewerEntryPoint"
            id="com.hydrologis.gss.entrypoints.MapviewerEntryPoint"
            path="/mapviewer"
            title="Map Viewer">
      </entrypoint>
      <entrypoint
            class="com.hydrologis.gss.entrypoints.DashboardEntryPoint"
            id="com.hydrologis.gss.entrypoints.DashboardEntryPoint"
            path="/dashboard"
            title="Dashboard">
      </entrypoint>
      <entrypoint
            class="com.hydrologis.gss.entrypoints.SettingsEntryPoint"
            id="com.hydrologis.gss.entrypoints.SettingsEntryPoint"
            path="/settings"
            title="Settings">
      </entrypoint>
      <entrypoint
            class="com.hydrologis.gss.entrypoints.LogViewEntryPoint"
            id="com.hydrologis.gss.entrypoints.LogViewEntryPoint"
            path="/log"
            title="Log Viewer">
      </entrypoint>
   </extension>
         <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/upload"
            class="com.hydrologis.gss.servlets.UploadServlet">
      </servlet>
   </extension>

   
   
<extension
               id="gss_product"
               point="org.eclipse.core.runtime.products">
            <product
                  application="com.hydrologis.gss.com.hydrologis.gss.GssApplication4Export"
                  name="Geopaparazzi Survey Server">
               <property
                     name="appName"
                     value="Geopaparazzi Survey Server">
               </property>
            </product>
         </extension>
<extension
         id="com.hydrologis.gss.GssApplication4Export"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.hydrologis.gss.GssApplication4Export">
         </run>
      </application>
   </extension>
</plugin>
